@font-face {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/libre-baskerville-v14-latin-regular.woff2") format("woff2"), 
    url("./fonts/libre-baskerville-v14-latin-regular.woff") format("woff");
}
@font-face {
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/libre-baskerville-v14-latin-700.woff2") format("woff2"),
    url("./fonts/libre-baskerville-v14-latin-700.woff") format("woff");
}
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Libre Baskerville" , "Times New Roman",serif;
}

img{
    display: block;
    height: auto;
}
.visually_hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.container{
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-gallery{
    display: flex;
    padding-top: 40px;
}
.header-gallery-wrapper{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #e5e5e5;;
}
.gallerylogo-link{
    text-decoration-line: none;
    margin-right: auto;
}
.gallery-slide-link{
    color: #7d7d7d;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.571px;
}
.gallery-section{
    padding-top: 40px;
    padding-bottom: 311px;
}
.gallery-wrapper{
    display: grid;
    grid-template: 1520px /repeat(4 ,310px) ;
    column-gap: 40px;
}
.gallery-img-wrapper{
    display: grid;
    grid-template: 200px 400px 600px 200px / 310px ;
    row-gap: 40px;
}
.img-wrapper{
    position: relative;
}
.img-title-wrapper{
    position: absolute;
    width: 242px;
    left: 32px;
    bottom: 33px;
}
.img-title{
    font-size: 24px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 7px;
    font-weight: 700;
    line-height: normal;
}
.img-desc{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7528;
}
.gallery-foto-wrapper{
    display: grid;
    grid-template: 400px 200px /310px;
    row-gap: 40px;
}
.gallery-picture-wrapper{
    display: grid;
    grid-template: 200px 600px 400px 200px /310px;
    row-gap: 40px;
}
.gallery-last-wrapper{
    display: grid;
    grid-template: 400px repeat(2,200px) 600px /310px ;
    row-gap: 40px;
}